<div *ngIf="!isLoading" class="container">
  <h2>Вопросы</h2>
  <div class="mt-3">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary icon-white" (click)="open(add)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Добавить
      </button>
    </div>
    <div class="mt-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Вопрос</th>
          <th scope="col">Ответы</th>
          <th scope="col">Редактировать</th>
          <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of questions">
          <td>{{question.text}}</td>
          <td >
            <ul>
              <li *ngFor="let answer of question.answers">
                {{answer.text}}
              </li>
            </ul>
<!--            <i [class]="answer.isRight ? 'bi bi-check' : 'bi bi-x'"></i>-->
          </td>
          <td>
            <svg class="icon-edit" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M8.424 12.282l4.402 4.399-5.826 1.319 1.424-5.718zm15.576-6.748l-9.689 9.804-4.536-4.536 9.689-9.802 4.536 4.534zm-6 8.916v6.55h-16v-12h6.743l1.978-2h-10.721v16h20v-10.573l-2 2.023z"/>
            </svg>
          </td>
          <td>
            <svg class="icon-delete" width="24" height="24"
                 xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-7 7.586l3.293-3.293 1.414 1.414-3.293 3.293 3.293 3.293-1.414 1.414-3.293-3.293-3.293 3.293-1.414-1.414 3.293-3.293-3.293-3.293 1.414-1.414 3.293 3.293zm2-10.586h-4v1h4v-1z"/>
            </svg>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #add let-modal>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Добавить вопрос</h3>
    <button type="button" class="btn-close close pull-right" (click)="modal.dismiss('Cross click')">
      <span class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Текст вопроса</h4>
    <editor [(ngModel)]="currentQuestion.text" apiKey="ygyrtvmibhnn4gx2e0mkfnsnlljulw7mjl759yeott3pttmp"
            [init]="{
    plugins: ' mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
  }"
    ></editor>
    <div class="form-text">
      <input [(ngModel)]="currentQuestion.score" type="number" class="form-control" step="0.1" min="0.1" id="score1" placeholder="Оценка"/>
    </div>
    <hr/>
    <h4>Ответы</h4>
    <ng-container>
      <h5>Ответ 1</h5>
      <div class="form-check">
        <input [(ngModel)]="answers[0].isRight" id="answer1_isRight" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="answer1_isRight">Правильный</label>
      </div>
      <div class="form-text">
        <editor [(ngModel)]="answers[0].text" apiKey="ygyrtvmibhnn4gx2e0mkfnsnlljulw7mjl759yeott3pttmp"
                [init]="{
    plugins: ' mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
  }"
        ></editor>
      </div>
    </ng-container>
    <ng-container *ngIf="answers.length > 1">
      <hr/>
      <h5>Ответ 2</h5>
      <div class="form-check">
        <input [(ngModel)]="answers[1].isRight" id="answer2_isRight" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="answer2_isRight">Правильный</label>
      </div>
      <editor [(ngModel)]="answers[1].text" apiKey="ygyrtvmibhnn4gx2e0mkfnsnlljulw7mjl759yeott3pttmp"
              [init]="{
    plugins: ' mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
  }"
      ></editor>
    </ng-container>
    <ng-container *ngIf="answers.length > 2">
      <hr/>
      <h5>Ответ 3</h5>
      <div class="form-check">
        <input [(ngModel)]="answers[2].isRight" id="answer3_isRight" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="answer3_isRight">Правильный</label>
      </div>
      <editor [(ngModel)]="answers[2].text" apiKey="ygyrtvmibhnn4gx2e0mkfnsnlljulw7mjl759yeott3pttmp"
              [init]="{
    plugins: ' mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
  }"
      ></editor>
    </ng-container>
    <button type="button" class="btn btn-outline-primary float-end mt-2" *ngIf="answers.length < 3" (click)="addAnswerField()">Добавить ответ
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger " (click)="modal.close('Close click')">Закрыть</button>
    <button type="button" class="btn btn-outline-success" (click)="save(modal) ">Сохранить</button>
  </div>
</ng-template>

